

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 9rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.flex-btn{
  /* padding: 50px ; */
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.btn{
  margin: 50px ;
  padding: 10px 40px;
  font-size: 30px;
  border-radius: 50px;
  color: #fff;
  border: none;
  box-shadow: 2px 4px gray;
}

.btn:hover{
  cursor: pointer;
}

.btn-primary{
  background-color: rgb(59, 59, 253);
}

.btn-danger{
  background-color: red;
}

footer {
  padding: 15px;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

